@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <img src="~/Images/dollar.jpg" width="500" height="500" /><br />
        <label class="text-light">Password: </label>
        <div class="form-group">
            <label ></label>
            <input class="form-control" />
            <span  class="text-danger"></span><br />
            <input class="btn btn-light" type="submit" value="Submit">
        </div>

        <div class="row">
            <h1>About</h1>
        </div>
            <hr />
            <p class="paragraph h3 text-light">
                This website gives users a safe way to interact with friends without the worry of bullying or unsafe interactions with strangers.
                The children can give out the code to access the Website to friends so no need to worry about your childs safety.
            </p>
        
        <div class="row">
            <h1>Features</h1>
        </div>
            <hr />
            <p class="paragraph h3 text-light">
                Coming soon..
            </p>
        
    </div>
